/* Estilização básica do chatbot */
body {
    font-size: 23px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    text-align: center;
 /*    background-color: #941950; */
 background: radial-gradient(circle, rgba(148,25,80,1) 9%, rgba(45,39,39,1) 100%);
    flex-direction: column;;
    width: 800px;
    max-width: 750px;
    margin: 0 auto;

}

#button-send {
    font-family: 'Poppins', sans-serif;
    padding: 10px 20px;
    margin-top: 10px;
    width: 40%;
    min-width: 30%;
    max-width: 65%;
    border: none;
    border-radius: 10px;
    background-color: #941950; /* Cor de fundo */ 
    color: #fff; /* Cor do texto */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
}

#button-send:hover {
    background-color: #ce216f; /* Cor de fundo quando em foco */
}

#button-send:focus {
    outline: none; /* Remova a borda de foco padrão */
}


.chat-box {
    background-color: #0000006f;
    border: 5px solid #ffffff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1 1 5px rgba(0, 0, 0, 0.2);
    max-width: 550px;
    margin: 0 auto;
}

.chat-log {
    height: 22rem;
    min-height: 12rem;
    overflow-y: scroll;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

.title-user::before {
    content: "SUA PERGUNTA: ";
}

.title-bot::before {
    content: "RESPOSTA: ";
}

.user-message, .bot-message {
    /* ... outros estilos ... */
    max-width: 100%;
    word-wrap: break-word;
}

.user-message {
    background-color: #797979;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    max-width: 100%;
    word-wrap: break-word;
}

.bot-message {
    background-color: #28a745;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    max-width: 100%;
    word-wrap: break-word;
}

/* Personalizar o formulário de entrada de mensagem */
#user-input-form {
    margin-top: 10px;
}

/* Estilização do input */
#user-input {
    font-family: 'Poppins', sans-serif;;
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #f0f0f0; /* Cor de fundo */
    color: #333; /* Cor do texto */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

#user-input::placeholder {
    color: #999; /* Cor do texto de placeholder */
}

#user-input:focus {
    background-color: #fff; /* Cor de fundo quando em foco */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Sombra mais forte quando em foco */
}


footer {
    width: 100%;
    min-width: 100%;
    max-width: 100%;

    display:flex;

}

p {
    text-align: center;
}

img {
    width: 100px;
    height: 100px;
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}


